doctype html
head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(charset='utf-8')
  meta(name='keywords', content='Online Platform')
  meta(name='description', content='')
  meta(name='page_type', content='np-template-header-footer-from-plugin')
  title Accueil
  link(rel='stylesheet', href='/css/nicepage.css', media='screen')
  link(rel='stylesheet', href='/css/Accueil.css', media='screen')
  script.u-script(type='text/javascript', src='/js/jquery.js', defer='')
  script.u-script(type='text/javascript', src='/js/nicepage.js', defer='')
  meta(name='generator', content='Nicepage 3.27.0, nicepage.com')
  link#u-theme-google-font(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i')
  script(type='application/ld+json').
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Site1",
    "logo": "images/video01.gif",
    "sameAs": [
    "https://twitter.com/dysverter",
    "https://www.linkedin.com/company/dysverter/about/?viewAsMember=true",
    "https://twitter.com/dysverter",
    "https://www.linkedin.com/company/dysverter/about/?viewAsMember=true"
    ]
    }
  meta(name='theme-color', content='#478ac9')
  meta(name='twitter:site', content='@')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:title', content='Accueil')
  meta(name='twitter:description', content='Site1')
  meta(property='og:title', content='Accueil')
  meta(property='og:description', content='')
  meta(property='og:type', content='website')
header#sec-0cb3.u-align-center-sm.u-align-center-xs.u-clearfix.u-grey-10.u-header.u-header
  .u-clearfix.u-sheet.u-sheet-1
    a.u-image.u-logo.u-image-1(href='https://nicepage.com', data-image-width='500', data-image-height='500', title='Dysverter')
      img.u-logo-image.u-logo-image-1(src='images/video01.gif')
    nav.u-align-left.u-menu.u-menu-dropdown.u-offcanvas.u-menu-1
      .menu-collapse(style='font-size: 1rem;')
        a.u-button-style.u-nav-link(href='#')
          svg.u-svg-link(preserveaspectratio='xMidYMin slice', viewbox='0 0 302 302', style='')
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-8a8f')
          svg#svg-8a8f.u-svg-content(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 302 302', style='enable-background:new 0 0 302 302;', xml:space='preserve')
            g
              rect(y='36', width='302', height='30')
              rect(y='236', width='302', height='30')
              rect(y='136', width='302', height='30')
            g
            g
            g
            g
            g
            g
            g
            g
            g
            g
            g
            g
            g
            g
            g
      .u-custom-menu.u-nav-container
        ul.u-nav.u-spacing-30.u-unstyled.u-nav-1
          li.u-nav-item
            a.u-border-2.u-border-active-grey-90.u-border-hover-grey-50.u-border-no-left.u-border-no-right.u-border-no-top.u-button-style.u-nav-link.u-text-active-grey-90.u-text-grey-90.u-text-hover-grey-90(href='/', style='padding: 10px 0px;') Dysverter
          li.u-nav-item
            a.u-border-2.u-border-active-grey-90.u-border-hover-grey-50.u-border-no-left.u-border-no-right.u-border-no-top.u-button-style.u-nav-link.u-text-active-grey-90.u-text-grey-90.u-text-hover-grey-90(href='/apropos', style='padding: 10px 0px;') C'est quoi Dysverter ?
          li.u-nav-item
            a.u-border-2.u-border-active-grey-90.u-border-hover-grey-50.u-border-no-left.u-border-no-right.u-border-no-top.u-button-style.u-nav-link.u-text-active-grey-90.u-text-grey-90.u-text-hover-grey-90(href='/contacts', style='padding: 10px 0px;') Contacts
      .u-custom-menu.u-nav-container-collapse
        .u-align-center.u-black.u-container-style.u-inner-container-layout.u-opacity.u-opacity-95.u-sidenav
          .u-inner-container-layout.u-sidenav-overflow
            .u-menu-close
            ul.u-align-center.u-nav.u-popupmenu-items.u-unstyled.u-nav-2
              li.u-nav-item
                a.u-button-style.u-nav-link(href='Accueil.html', style='padding: 10px 0px;') Accueil
              li.u-nav-item
                a.u-button-style.u-nav-link(href='Dysverter.html', style='padding: 10px 0px;') Dysverter
              li.u-nav-item
                a.u-button-style.u-nav-link(href='Contacts.html', style='padding: 10px 0px;') Contacts
        .u-black.u-menu-overlay.u-opacity.u-opacity-70
    p.u-text.u-text-default.u-text-1
      | Solution d&apos;aide a la&nbsp;compr&eacute;hension&nbsp;
      br
      | de documents pour dyslexique

section#carousel_cc63.u-align-center.u-clearfix.u-grey-10.u-valign-middle-xs.u-section-1
  .u-expanded-width-lg.u-expanded-width-md.u-expanded-width-sm.u-expanded-width-xl.u-shape.u-shape-rectangle.u-shape-1
  .u-clearfix.u-gutter-50.u-layout-wrap.u-layout-wrap-1
    .u-layout(style='')
      .u-layout-row(style='')
        .u-size-31-sm.u-size-31-xs.u-size-33-lg.u-size-33-xl.u-size-60-md
          .u-layout-col
            .u-container-style.u-layout-cell.u-left-cell.u-size-40.u-white.u-layout-cell-1
              .u-container-layout.u-container-layout-1
                img.u-image.u-image-1(src='images/shutterstock_1022814436-2-1024x1024.jpg', data-image-width='1024', data-image-height='1024')
                p.u-text.u-text-1
                  span(style='font-size: 0.875rem;')
                    | Le mot Dyslexie vient du grec, Dys est un pr&eacute;fixe p&eacute;joratif qui exprime une id&eacute;e de difficult&eacute; ou de malheur et lexie signifie : le mot, la langue &eacute;crite.
                    br
                    br
                    | Ces troubles se caract&eacute;risent donc par des difficult&eacute;s significatives et durables de l&apos;apprentissage et de l&apos;utilisation de la lecture, ayant des r&eacute;percussions sur les autres apprentissages ou activit&eacute;s de la vie quotidienne.
                    br
                    br
                    | Leurs r&eacute;elles difficult&eacute;s r&eacute;sident donc dans le temps allou&eacute; &agrave; une t&acirc;che n&eacute;cessitant&nbsp;lecture et &eacute;criture,&nbsp;mais &eacute;galement vis-&agrave;-vis du regard des autres. En effet, il est facile de juger h&acirc;tivement une personne atteinte de dyslexie.
                  br
            .u-container-style.u-layout-cell.u-left-cell.u-size-20.u-white.u-layout-cell-2
              .u-container-layout.u-container-layout-2
                img.u-expanded-width.u-image.u-image-2(src='images/mignature-article-adulte-dyslexique1.jpg', data-image-width='1611', data-image-height='1999')
                ul.u-text.u-text-2
                  li
                    span(style='font-size: 0.875rem;')  La dyslexie est un trouble qui touche 4% &agrave; 5% de la population fran&ccedil;aise
                  li
                    span(style='font-size: 0.875rem;')
                      | 92% des DRH interrog&eacute;s estiment qu&rsquo;une mauvaise orthographe des salari&eacute;s peut avoir un impact n&eacute;gatif sur l&rsquo;entreprise selon un sondage datant de 2019
                  li
                    span(style='font-size: 0.875rem;')
                      | 80% de toutes les personnes identifi&eacute;es comme ayant des troubles d&rsquo;apprentissage sont des dyslexiques.
        .u-size-27-lg.u-size-27-xl.u-size-29-sm.u-size-29-xs.u-size-60-md(style='')
          .u-layout-col(style='')
            .u-container-style.u-layout-cell.u-right-cell.u-size-20.u-layout-cell-3
              .u-container-layout.u-container-layout-3
                h2.u-custom-font.u-heading-font.u-text.u-text-3 La Dyslexie
                .u-custom-color-1.u-radius-15.u-shape.u-shape-round.u-shape-2
                .u-custom-color-2.u-radius-15.u-shape.u-shape-round.u-shape-3
            .u-container-style.u-layout-cell.u-right-cell.u-size-40.u-white.u-layout-cell-4
              .u-container-layout.u-container-layout-4
                img.u-expanded-width.u-image.u-image-3(src='images/art3-ci_dys.jpg', data-image-width='700', data-image-height='441')
                p.u-large-text.u-text.u-text-variant.u-text-4 Leurs difficult&eacute;s :
                ul.u-text.u-text-5
                  li
                    span(style='font-size: 0.875rem;') de vitesse de lecture
                  li
                    span(style='font-size: 0.875rem;') de compr&eacute;hension de consignes &eacute;crites et oral
                  li
                    span(style='font-size: 0.875rem;') de fatigue en situation d&apos;apprentissage
                  li
                    span(style='font-size: 0.875rem;') d&apos;orthographe
                  li
                    span(style='font-size: 0.875rem;') d&apos;estime de soi
                p.u-text.u-text-6
                  span(style='font-size: 0.875rem;')
                    | Imaginez-vous devoir toujours lire, comme dans le texte suivant :
                    br
                    br
                    | &quot;Monsieur etma damare novon deupari achameau nit. Laclisten cet deux 600 Km lavoix tureconsso me 10 litr rausan quil auma&icirc;tre. Qu&apos;est lese r&acirc;leur con soma cionto tale ?&quot;&nbsp;
                    br
                    br
                    | Quelle est la r&eacute;ponse ? La personne dyslexique mobilise tellement&nbsp; d&apos;&eacute;nergie pour d&eacute;chiffrer le texte qu&apos;elle ne peut acc&eacute;der au sens de la premi&egrave;re lecture.
                  br
                  br
                  br
                p.u-text.u-text-7
                  | Sources : 
                  span(style='font-size: 0.875rem;')
                    a.u-active-none.u-border-none.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-palette-1-base.u-btn-1(href='https://nord.apedys.org/troubles-dys-chez-ladulte', target='_blank')
                      | Ape
                      span(style='font-weight: 700;')
                      | dys
                    | , 
                    a.u-active-none.u-border-none.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-palette-1-base.u-btn-2(href='https://dysmoi.fr/historique-de-la-dyslexie/#:~:text=La%20dyslexie%20est%20un%20terme,le%20mot%2C%20la%20langue%20%C3%A9crite.', target='_blank') Dysmoi
                    | , 
                    a.u-active-none.u-border-none.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-palette-1-base.u-btn-3(href='https://www.welcometothejungle.com/fr/articles/dyslexie-entreprise-handicap', target='_blank') Welcometothejungle
section#sec-7fd3.u-align-left.u-clearfix.u-grey-10.u-section-2
  .u-clearfix.u-sheet.u-sheet-1
    .u-custom-color-1.u-radius-15.u-shape.u-shape-round.u-shape-1
    h4.u-text.u-text-1 Leurs t&eacute;m&ZeroWidthSpace;oign&ZeroWidthSpace;&ZeroWidthSpace;ages
    .u-custom-color-2.u-radius-15.u-shape.u-shape-round.u-shape-2
    .u-expanded-width.u-list.u-list-1
      .u-repeater.u-repeater-1
        .u-align-center.u-container-style.u-list-item.u-repeater-item.u-white.u-list-item-1
          .u-container-layout.u-similar-container.u-container-layout-1
            p.u-align-center.u-text.u-text-2
              | &laquo; &ZeroWidthSpace;Je m&eacute;langeais les mots et les lettres, je tenais mal mon crayon, je m&eacute;langeais les sons dans les mots. Rien que de lire me fatiguais, sans parler de comprendre ce que je lisais et je changeais un mot par un autre car ils se ressemblaient, je les retournais et je les changeais de place.&nbsp;J&rsquo;orthographie mal les mots, m&ecirc;me ceux que je vois souvent, et ce, malgr&eacute; une correction r&eacute;p&eacute;t&eacute;e et m&ecirc;me si je les copie d&rsquo;un livre. J&rsquo;efface souvent ou fait des ratures sur les mots.&nbsp;
              br
              | Je rajouterai que, bien que j&rsquo;ai trouv&eacute; ma voie dans l&rsquo;aide aux personnes, il faut savoir que les coll&egrave;gues ne sont pas forc&eacute;ment plus tol&eacute;rantes sur l&rsquo;orthographe et les &eacute;crits. A chaque changement d&rsquo;&eacute;quipe et de personne je dois expliquer ma difficult&eacute; car il nous arrive de travailler sur des &eacute;crits spontan&eacute;s que je n&rsquo;ai pas le temps de relire ou d&rsquo;&eacute;crire doucement. &raquo;
            .u-image.u-image-circle.u-image-1(alt='', src='', data-image-width='256', data-image-height='256')
            h5.u-align-center.u-text.u-text-3  S&eacute;verine Souchon
            h6.u-align-center.u-text.u-text-4 Moniteur Educateur
        .u-container-style.u-list-item.u-repeater-item.u-white.u-list-item-2
          .u-container-layout.u-similar-container.u-container-layout-2
            p.u-align-center.u-text.u-text-5
              | &laquo;&nbsp;Aujourd&rsquo;hui, je vends du mat&eacute;riel technologique, je
              | travaille depuis dix ans [&mldr;]&nbsp;Quand on me demande d&rsquo;&eacute;crire quelque chose,
              | je r&eacute;ponds directement : &quot;Je n&rsquo;&eacute;cris pas tr&egrave;s bien, est-ce que vous
              | pourriez &eacute;crire &agrave; ma place&nbsp;?&quot; et la plupart des gens sont
              | compr&eacute;hensifs [&mldr;]&nbsp;Il y a toujours des gens qui se moquent un peu, m&ecirc;me
              | adultes, mais la plupart du temps, je passe outre. Je r&eacute;ponds &quot;Non, je ne
              | sais pas &eacute;crire, je suis dyslexique, mais &ccedil;a ne m&rsquo;emp&ecirc;che pas de vivre
              | correctement et quand j&rsquo;&eacute;cris, les gens arrivent &agrave; me relire.&quot;&nbsp;
              br
              | Le but,
              | c&rsquo;est &ccedil;a : se faire comprendre. Je fais &eacute;norm&eacute;ment de fautes, mais ce ne sont
              | que des lettres. &Ccedil;a reste superficiel pour moi. Si parfois je me trompe quand
              | je parle de mes produits, j&rsquo;en rigole ou je dis que je suis fatigu&eacute;.&nbsp;&raquo; 
              br
            .u-image.u-image-circle.u-image-2(alt='', src='', data-image-width='256', data-image-height='256')
            h5.u-align-center.u-text.u-text-6  Guillaume Sirvan
            h6.u-align-center.u-text.u-text-7  Vendeur mat&eacute;riel informatique
    h4.u-hidden-lg.u-hidden-md.u-hidden-sm.u-hidden-xl.u-text.u-text-8 Leurs t&eacute;m&ZeroWidthSpace;oign&ZeroWidthSpace;&ZeroWidthSpace;ages
section#sec-8a3d.u-clearfix.u-grey-10.u-section-3
  .u-clearfix.u-sheet.u-sheet-1
    h4.u-text.u-text-default-lg.u-text-default-md.u-text-default-sm.u-text-default-xl.u-text-1 Leurs Probl&eacute;matiques en 3 points
    .u-border-17.u-border-custom-color-1.u-custom-color-1.u-radius-15.u-shape.u-shape-round.u-shape-1
    .u-custom-color-2.u-radius-15.u-shape.u-shape-round.u-shape-2
    .u-expanded-width.u-list.u-list-1
      .u-repeater.u-repeater-1
        .u-container-style.u-list-item.u-repeater-item.u-white.u-list-item-1
          .u-container-layout.u-similar-container.u-container-layout-1
            img.u-image.u-image-default.u-image-1(alt='', data-image-width='326', data-image-height='155', src='images/images1.png')
            h3.u-text.u-text-default.u-text-2 Dysnemkin&eacute;sie
            p.u-text.u-text-3
              | Ce type de
              | dyslexie implique des difficult&eacute;s &agrave; savoir comment &eacute;crire des lettres. Les personnes atteintes de ce
              | type de dyslexie &eacute;crivent g&eacute;n&eacute;ralement les lettres &agrave; l&rsquo;envers.
        .u-container-style.u-list-item.u-repeater-item.u-white.u-list-item-2
          .u-container-layout.u-similar-container.u-container-layout-2
            img.u-image.u-image-default.u-image-2(alt='', data-image-width='298', data-image-height='169', src='images/tlchargement.jfif')
            h3.u-text.u-text-default.u-text-4 Dysphon&eacute;sie
            p.u-text.u-text-5
              | Ce type de dysphonie implique des difficult&eacute;s
              | d&rsquo;&eacute;coute ou d&rsquo;audition. Elle entra&icirc;ne &eacute;galement des difficult&eacute;s &agrave; prononcer des
              | mots ou &agrave; comprendre des mots inconnus.
        .u-container-style.u-list-item.u-repeater-item.u-white.u-list-item-3
          .u-container-layout.u-similar-container.u-container-layout-3
            img.u-image.u-image-default.u-image-3(alt='', data-image-width='512', data-image-height='348', src='images/unnamed.png')
            h3.u-text.u-text-default.u-text-6 Dys&eacute;sidiesie&nbsp;
            p.u-text.u-text-7
              | Ce type de dysphonie implique des comp&eacute;tences
              | visuelles. Elle entra&icirc;ne une difficult&eacute; ou une incapacit&eacute; &agrave; conna&icirc;tre ou &agrave;
              | comprendre les mots &eacute;crits. Elle entra&icirc;ne &eacute;galement une difficult&eacute; &agrave; conna&icirc;tre
              | les mots par le son.
section#sec-91bc.u-clearfix.u-grey-10.u-section-4
  .u-clearfix.u-sheet.u-sheet-1
    h4.u-text.u-text-1 Notre solution
    .u-border-17.u-border-custom-color-1.u-custom-color-1.u-radius-15.u-shape.u-shape-round.u-shape-1
    .u-custom-color-2.u-radius-15.u-shape.u-shape-round.u-shape-2
    .u-clearfix.u-expanded-width.u-gutter-6.u-layout-wrap.u-layout-wrap-1
      .u-layout
        .u-layout-col
          .u-size-30
            .u-layout-row
              .u-container-style.u-image.u-layout-cell.u-left-cell.u-size-20.u-image-1(src='', data-image-width='1080', data-image-height='1080')
                .u-container-layout.u-valign-middle.u-container-layout-1
              .u-align-center.u-container-style.u-layout-cell.u-size-20.u-white.u-layout-cell-2(src='')
                .u-container-layout.u-container-layout-2
                  h3.u-text.u-text-2 Synth&egrave;se vocale
                  p.u-text.u-text-3
                    | Une synth&egrave;se vocale afin d&apos;aider &agrave; la compr&eacute;hension de documents (vitesse de lecture, t&eacute;l&eacute;chargement sous format .wav)
              .u-container-style.u-image.u-layout-cell.u-right-cell.u-size-20.u-image-2(src='', data-image-width='1080', data-image-height='1080')
                .u-container-layout.u-valign-middle.u-container-layout-3
          .u-size-30
            .u-layout-row
              .u-align-center.u-container-style.u-layout-cell.u-left-cell.u-size-20.u-white.u-layout-cell-4(src='')
                .u-container-layout.u-valign-middle.u-container-layout-4
                  h3.u-text.u-text-4 Mise en page automatique
                  p.u-text.u-text-5
                    | Notre solution propose une mise en page rapide et plus lisible de vos documents pour les dyslexiques (Typographie, inter-lignes, surlignement, espacements des lettres/mots)
              .u-container-style.u-image.u-layout-cell.u-size-20.u-image-3(src='', data-image-width='1080', data-image-height='1080')
                .u-container-layout.u-container-layout-5
              .u-align-center.u-container-style.u-layout-cell.u-right-cell.u-size-20.u-white.u-layout-cell-6(src='')
                .u-container-layout.u-valign-middle.u-container-layout-6
                  h3.u-text.u-text-6 Editeur de texte
                  p.u-text.u-text-7
                    | Un &eacute;diteur de texte avec correcteur automatique dans un format plus lisible pour les dyslexiques.
footer#sec-8575.u-align-center.u-black.u-clearfix.u-footer.u-footer
  .u-align-left.u-clearfix.u-sheet.u-valign-bottom-xs.u-sheet-1
    p.u-text.u-text-1
      a.u-active-none.u-border-none.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-palette-1-base.u-btn-1(href='mailto:contact.dysverter@gmail.com') contact.dysverter@gmail.com
    img.u-image.u-image-default.u-image-1(src='images/Novo_Projeto_14.png', alt='', data-image-width='1500', data-image-height='500')
    .u-social-icons.u-spacing-8.u-social-icons-1
      a.u-social-url(title='twitter', target='_blank', href='https://twitter.com/dysverter')
        span.u-icon.u-social-icon.u-social-twitter.u-icon-1
          svg.u-svg-link(preserveaspectratio='xMidYMin slice', viewbox='0 0 112 112', style='')
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-704c')
          svg#svg-704c.u-svg-content(viewbox='0 0 112 112', x='0', y='0')
            circle.st0(fill='currentColor', cx='56.1', cy='56.1', r='55')
            path(fill='#FFFFFF', d='M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2\
            c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1\
            c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14\
            c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4\
            c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z')
    .u-social-icons.u-spacing-10.u-social-icons-2
      a.u-social-url(target='_blank', title='LinkedIn', href='https://www.linkedin.com/company/dysverter/about/?viewAsMember=true')
        span.u-icon.u-social-icon.u-social-linkedin.u-icon-2
          svg.u-svg-link(preserveaspectratio='xMidYMin slice', viewbox='0 0 112 112', style='')
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-cf0d')
          svg#svg-cf0d.u-svg-content(viewbox='0 0 112 112', x='0', y='0')
            circle(fill='currentColor', cx='56.1', cy='56.1', r='55')
            path(fill='#FFFFFF', d='M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7\
            C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5\
            H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z')
    p.u-text.u-text-2  Retrouvez-nous sur nos r&eacute;seaux sociaux&nbsp;
    p.u-text.u-text-3
      span(style='font-size: 0.875rem;') &copy; 2021 - Dysverter | All rights reserved 
